@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body {
    background-color: #141414 !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.ms-overflow-style {
    overflow: hidden;
}

.scrollbar-width {
    scrollbar-width: none;
}

.navbar-section-distsance {
    margin-top: 15vh !important;
}

.section-section-distance {
    margin-top: 15vh !important;
}

.footer-section-distance {
    margin-bottom: 20vh !important;
}